<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, Flask</title>
    </head>
    <body>
        {% if contacts %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date of birth</th>
                        <th>Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                {% for c in contacts %}
                    <tr>
                        <td>{{ c.id }}</td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.phone }}</td>
                        <td>{{ c.dob }}</td>
                        <td>{{ c.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            No contacts to show.
        {% endif %}
    </body>
</html>
